pkgbase = zadloop-bin
	pkgdesc = ZadLoop desktop coding agent (unofficial repackaging of the official Debian package)
	pkgver = 0.5.1
	pkgrel = 1
	url = https://zadloop.com/
	install = zadloop.install
	arch = x86_64
	license = LicenseRef-ZadLoop
	makedepends = binutils
	makedepends = libarchive
	depends = alsa-lib
	depends = at-spi2-core
	depends = bubblewrap
	depends = cairo
	depends = dbus
	depends = expat
	depends = gcc-libs
	depends = glib2
	depends = glibc>=2.39
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libcups
	depends = libnotify
	depends = libsecret
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon
	depends = libxrandr
	depends = libxss
	depends = libxtst
	depends = mesa
	depends = nspr
	depends = nss
	depends = pango
	depends = systemd-libs
	depends = util-linux
	depends = util-linux-libs
	depends = xdg-utils
	optdepends = libappindicator: system tray integration
	provides = zadloop
	conflicts = zadloop
	noextract = ZadLoop-0.5.1-x64.deb
	options = !strip
	options = !debug
	source = ZadLoop-0.5.1-x64.deb::https://releases.zadloop.com/desktop/v1/stable/linux/x64/ZadLoop-0.5.1-x64.deb
	sha256sums = a7510134c94e93144549d2e7fff1f4f32e3b713cdb61e176dabb0a628068c625

pkgname = zadloop-bin
