pkgbase = zadloop
	pkgdesc = ZadLoop desktop coding agent
	pkgver = 0.5.0
	pkgrel = 1
	url = https://zadloop.com/
	install = zadloop.install
	arch = x86_64
	license = MIT
	makedepends = binutils
	makedepends = libarchive
	depends = alsa-lib
	depends = at-spi2-core
	depends = bubblewrap
	depends = dbus
	depends = expat
	depends = gcc-libs
	depends = glib2
	depends = glibc>=2.39
	depends = gtk3
	depends = libcups
	depends = libnotify
	depends = libsecret
	depends = libxss
	depends = libxtst
	depends = mesa
	depends = nss
	depends = systemd-libs
	depends = util-linux
	depends = util-linux-libs
	depends = xdg-utils
	optdepends = libappindicator: system tray integration
	noextract = zadloop-0.5.0-x64.deb
	options = !strip
	source = zadloop-0.5.0-x64.deb::https://zadloop.com/download/linux/deb
	sha256sums = b16b8fa217d568f28dffdc55a8c0be6577fc938e0b5cde88af1d9e870a00df53

pkgname = zadloop
